<%= form_for @post do |f| %>

  <% if @post.errors.any? %>
    <div id="errors_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :author, 'Autor:' %>
    <%= f.text_field :author, required: true %>
  </div>

  <div>
    <%= f.label :title, 'Título:' %>
    <%= f.text_field :title, required: true %>
  </div>

  <div>
    <%= f.label :content, 'Contenido:' %>
    <%= f.text_area :content, rows: 10, required: true %>
  </div>

  <div>
    <%= f.submit "#{action} Post" %>
  </div>
<% end %>
